.card {
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    width: calc(320px - 1rem);
    text-align: center;
    text-transform: capitalize;
    position: relative;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        transition: 0.1s ease-in-out;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    img {
        background-color: #f2f2f2;
        border-radius: 4px;
    }

    .infos {
        text-align: left;
        padding: 0 1rem 1rem 1rem;

        .title {
            color: #313131;
        }

        .types {
            display: flex;
            gap: 10px;

            span {
                padding: 5px 10px;
                color: white;
                border-radius: 5px;
            }
        }
    }
}
