.detailsCtnr {
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.detailsCtnr .image {
  background-color: #f2f2f2;
  border-radius: 4px;
}
.detailsCtnr .content {
  display: flex;
  flex-direction: column;
}
.detailsCtnr .content .title {
  text-transform: capitalize;
  letter-spacing: 1px;
}
.detailsCtnr .content .types {
  display: flex;
  gap: 10px;
}
.detailsCtnr .content .types span {
  text-transform: capitalize;
  padding: 5px 10px;
  color: white;
  border-radius: 5px;
}
.detailsCtnr .content .stats ul {
  padding: 0;
}
.detailsCtnr .content .stats ul li {
  list-style: none;
  text-transform: capitalize;
}

.backButton {
  margin: 2rem;
  padding: 5px 10px;
}