.detailsCtnr {
    padding: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;

    .image {
        background-color: #f2f2f2;
        border-radius: 4px;
    }

    .content {
        display: flex;
        flex-direction: column;

        .title {
            text-transform: capitalize;
            letter-spacing: 1px;
        }

        .types {
            display: flex;
            gap: 10px;

            span {
                text-transform: capitalize;
                padding: 5px 10px;
                color: white;
                border-radius: 5px;
            }
        }

        .stats {
            ul {
                padding: 0;
                li {
                    list-style: none;
                    text-transform: capitalize;
                }
            }
        }
    }
}

.backButton {
    margin: 2rem;
    padding: 5px 10px;
}