nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.3rem 5rem;
    background-color: #F2F2F2;

    form {
        display: flex;
        gap: 1rem;

        input {
            padding: 5px;
        }
    }
}